<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners><listener class-name="TestNG_listners_ExtendReport.Extendreport_Manager"></listener>
    
</listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/abhai/eclipse-workspace/TestNG/TestNG/src/test/java/TestNG_listners_ExtendReport">
        <classes>
            <class name="TestNG_listners_ExtendReport.OrangeHRM">
                <methods>
                    <include name="logo"/>
                    <include name="login"/>
                    <include name="appurl"/>
                    <include name="testhomepageTitle"/>
                    <include name="logout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>