<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/abhai/eclipse-workspace/TestNG/TestNG/src/test/java/orangeHRM/OrangeHRM.java">
        <classes>
            <class name="orangeHRM.OrangeHRM"/>
            <class name="orangeHRM.Copy">
                <methods>
                    <include name="logo"/>
                    <include name="login"/>
                    <include name="logout"/>
                    <include name="quit_browser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
